<div class="container">
  <div *ngIf="items.length === 0; else showItems">
    There are no wishes to diplay. 
  </div>

  <ng-template #showItems>
    <ul class="wish-list" *ngIf="items.length > 0">
      <li *ngFor="let item of items">
        <div class="form-check">
          <label class="form-check-label">
            <input *ngIf="item.isComplete" type="checkbox" class="checkbox" checked/> 
            <input *ngIf="!item.isComplete" type="checkbox" class="checkbox"/> 
            {{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
